/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&family=Orbitron:wght@400;700;900&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: black;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  position: relative;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
  width: 100vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .section {
    grid-template-columns: repeat(3, 1fr);
    width: 95vw;
  }
  .prev-btn {
    left: -4.5rem;
  }
  .next-btn {
    right: -4.5rem;
  }
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
  box-shadow: var(--light-shadow);
  height: 20rem;
background-position: center;
}
.img:hover {
  box-shadow: var(--dark-shadow);
}

/*
=============== 
Banner
===============
*/

.banner {
  position: relative;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.996), #0000ff1e);
  background-attachment: fixed;
}

.banner-heading {
  font-family: "Orbitron", sans-serif;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 10px;
  text-align: center;
  width: 20rem;
  max-width: 50rem;
  transition: var(--transition);
  line-height: 1.5;
  font-size: 1.5rem;
}

.telescope {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Adjust width as needed */
  height: 100vh; /* Adjust height as needed */
  background-image: url("choice_images/Ai_after_it_all.jpeg"); /* Replace with your telescope image */
  background-size: cover;
  z-index: -4; /* Negative z-index to place it behind other content */
  opacity: 0.7; /* Adjust opacity for the dark overlay effect */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.613); /* Dark overlay */
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  .banner-heading {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .banner-heading {
    font-size: 3rem;
  }
}

.A {
  animation: appear 2s 0.5s ease-in 1 normal;
  transition: all 0.5s ease-in-out;
}
.B {
  display: inline-block;
  animation: slide-in 2s ease-in 1 normal;
}
.explore {
  display: inline-block;
  animation: dynamic 2.5s ease-in 1 normal;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.15;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.15;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    transform: translatex(-800px);
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dynamic {
  0% {
    opacity: 0;
  }
  25% {
    transform: rotateX("50deg");
  }
  50% {
    opacity: 0;
    transform: translateY(-500px);
  }
}

/*
=============== 
City
===============
*/

.city-heading {
  margin-top: 5rem;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 10px;
  text-align: center;
  color: var(--clr-white);
  font-weight: 900;
  width: 100vw;
  line-height: 2;
}

.city {
  border-top: dotted;
  border-color: white;
  position: relative;
  margin-bottom: 1rem;
}

.heading {
  position: relative;
}

.star-container {
  position: fixed;
  left: 10%;
  top: 120%;
  width: 85vw;
  max-width: 85vw;
}
/*
=============== 
nature
===============
*/

.nature {
  position: relative;
}

/* overlay created to reduce the brightness of the images */
.nature-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.387), rgba(0, 0, 0, 0.503));
}

/*
=============== 
Rubix
===============
*/

.rubix-heading-div {
  background: url(./Rubix-Cube-Banner-2.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  place-items: center;
  height: 45rem;
  width: 100vw;
  object-fit: cover;
  margin: 2rem auto;
  position: relative;
  z-index: 20;

}

.rubix-heading {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 10px;
  text-align: center;
  line-height: 1.5;
  color: var(--clr-white);
  font-weight: 900;
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;

}

.rubix-heading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 40;
}

.rubix-intro-text {
  color: var(--clr-white);
  position: absolute;
  width: 90vw;
  text-align: justify;
  margin: 0 auto;
  z-index: 1000;
  line-height: 2;
  font-weight: bolder;
  max-height: 30rem;
  overflow: scroll;
}

.rubix {
  margin-top: 4rem;
  border-top: dotted;
  border-color: white;
}

/*
=============== 
Modal
===============
*/

.modal {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  transition: var(--transition);
  opacity: 0;
  min-height: 100vh;
  overflow: scroll;
}
.modal.open {
  opacity: 1;
  z-index: 999;
}
.close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  color: var(--clr-white);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.next-btn,
.prev-btn {
  position: absolute;
  top: 10rem;
  transform: translateY(-50%);
  background: transparent;
  font-size: 2rem;
  color: var(--clr-white);
  border-color: transparent;
  cursor: pointer;
}
.prev-btn {
  left: -2.5rem;
}
.next-btn {
  right: -2.5rem;
}
@media screen and (min-width: 768px) {
  .prev-btn {
    left: -4rem;
  }
  .next-btn {
    right: -4rem;
  }
}

.modal-content {
  width: 80%;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;
}
.main-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: var(--radius);
}
.image-name {
  text-align: center;
  margin: 1rem 0 3rem;
  color: var(--clr-white);
}
.modal-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.modal-img {
  width: 100%;
  height: 5rem;
  object-fit: cover;
  opacity: 0.5;
  transition: var(--transition);
  cursor: pointer;
  margin-bottom: 2rem;
}
.modal-img:hover {
  opacity: 1;
}
.modal-img.selected {
  opacity: 1;
}
